@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
            
body{
    font-family: "Inter", sans-serif;
    background: rgb(17, 17, 17);
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17)6.8%, rgb(74, 98, 110) 500%);
}

/* Shared Styles */
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar-container{
    margin-top: 35px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navbar-options{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 3rem;
    color: rgb(255, 255, 255);
    font-size: 14.4px;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 31.2px; 
    padding: 3px;
}
.brand{
    font-style: italic;
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 28.8px;
    font-weight: 800;
}
.home{
    width: 73.6px;
    height: 30.4px;
    background-color: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    border-radius: 37px;
    padding: 15px;
    font-weight: 600;
}
.about{
    margin-right: 15px;
}
.hamburger{
    display: none;
}

/* Banner Styles */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 479px;
    margin-top: 77.6px;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 62.4px;
    text-align: left;
    margin-bottom: 22.4px;
}
.shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;                                       
}

.banner-content-text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12.8px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 22.4px;
}
.join-club{
    border-radius: 33.6px;
    border: none;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    padding: 12.8px 32px;
    font-weight: 600;
    font-size: 14.4px;
    margin-right: 11.2px;
    margin-bottom: 61.6px;
}
.download{
    border-radius: 33.6px;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    padding: 12.8px 32px;
    font-weight: 600;
    font-size: 14.4px;
    margin-bottom: 61.6px;
}

.banner-image img{
    max-width: 349px;
    max-height: 580px;
    margin-top: 26.4px;
    margin-left: 500px;
    position: relative;
}
.card-1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 165px;
    height: 77px;
    gap: 6.4px;
    margin-left: 450px;
    position: absolute;
    top: 590px;
}
.round{
    width: 32px;
    height: 32px;
    border-radius: 30px;
    border: none;
    border: 1px solid rgb(230, 83, 60);
    background: rgb(230, 83, 60);
}
.card1-content{
    text-align: left;
}
.number{
    color: rgb(250, 250, 249);
    font-size: 19.2px;
    font-weight: 900;
}
.text{
    color: rgba(239, 237, 232, 0.65);
    font-size: 12.8px;
    font-weight: 400;
}

.card-2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 154px;
    height: 78px;
    position: absolute;
    margin-left: 730px;
    top: 300px;
}
.card2-content{
    text-align: left;
}
.number2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 900;
}

.text2{
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    font-weight: 400;
}

/* Change your habit Section Styles */
.habit-container{
    margin-top: 100px;
    margin-bottom: 82px;
}
.habit-title{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 11.2px;
}
.habit-content{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11.2px;
    font-weight: 400;
}
.habit-types{
    margin-top: 43px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4rem;
}
.habits{
    max-width: 184px;
    max-height: 218px; 
}

.habits img{
    border: 3px solid black;
    border-radius: 100px;
}
.habits h4{
    margin-top: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14.4px;
    font-weight: 600;
}

.habits h5{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11.2px;
    font-weight: 400;
}
/* Run an extra Mile Styles */
.extra-mile-container{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    
    border-radius: 14.4px;
    background: rgb(34, 34, 34);
    width: 1250px;
    height: 296px;
}
.extra-mile-content{
    width: 354px;
    height: 231px;
    margin-left: 43px;
    margin-bottom: 100px;
}
.extra-mile-content h4{
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 8px;
}
.extra-mile-content h5{
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11.2px;
    font-weight: 400;
    text-align: left;
}
.extra-mile-image img{
    width: 292px;
    height: 249px;
    border-radius: 14.4px;
    margin-left: 300px;
    margin-right: 26px;
    margin-top: 24px;
    margin-bottom: 40px;
}

/* Unique Section Healthy diet Styles */
.healthy-diet-container{
   margin-top: 80px;
   border-radius: 14.4px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(34, 34, 34); 
   width: 1250px;
   height: 500px;
}  
.healthy-diet-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-left: 40px;
}
.healthy-diet-images img{
    height: 200px;
    width: 200px;
    border-radius: 14.4px;
}
.healthy-diet-content{
    width: 354px;
    height: 231px;
    margin-right: 50px;
}
.healthy-diet-content h4{
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 8px;
}
.healthy-diet-content h5{
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11.2px;
    font-weight: 400;
    text-align: left;
}


/* Responsive Design for mobile */
@media screen and (max-width:576px){
   /* navbar */
    .navbar-container{
        margin-bottom: -60px;
    }
    
    .navbar-options{
        display: none;
    }
    .hamburger{
        display: block;
        color: rgb(255, 255, 255);;
    }
   /* Banner */
    .banner-container{
        flex-direction: column;
        
    }
    .banner-content{
        width: 280px;
        height: 268px;
        text-align: left;
        justify-items: center;
    }
    .banner-title{
        width: 228px;
        height: 104px;
        font-size: 28px;
    }
    .banner-content-text{
        width: 219px;
        height: 76px;
    }
    .banner-button{
        display: flex;
    }
    .join-club{
        width: 135px;
        height: 43px;
        font-size: 12px;
    }
    .club{
        display: none;
    }
    .download{
        width: 135px;
        height: 43px;
        font-size: 9.7px;
    }
    .banner-image img{
        flex-direction: column;
        max-width: 349px;
        max-height: 580px;
        margin-top: 26.4px;
        margin-left: 10px;
        position: relative;
    }
    .card-1{
        margin-left: 10px;
        top:770px;
        width: 124px;
        height: 58px;
    }
    .round{
        font-size: 24px;
    }
    .number{
        font-size: 14px;
    }
    .text{
        font-size: 9px;
    }
    .card-2{
        margin-left: 200px;
        top: 570px;
        width: 116px;
        height: 59px;
    }
    .number2{
        font-size: 24px;
    }
    .text2{
        font-size: 7px;
    }
    /* Change Your Habits */
    .habit-container{
        flex-direction: column;
        margin-top: 0px;
    }
    .habit-title{
       font-size: 25px;
       margin-bottom: 11.2px;
    }
    .habit-types{
        margin-top: 30px;
        flex-direction: column;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .habits{
        margin-top: 40px;
    }
    /* Run an extra mile */
    .extra-mile-container{
       grid-template-columns: 1fr;
       width: 353px;
       height: 531px;
       justify-items: center;
       gap: 5rem;
       align-items: center;
    }
    .extra-mile-content{
        margin-bottom: 100px;
        width: 275px;
        height: 50px;
        margin-left: 10px;
        justify-content: center;
        align-items: center;

    }
    .extra-mile-content h4{
        font-size: 25px;
    }
    .extra-mile-image img{
        width: 250px;
        height: 136px;
        margin-left: 10px;
    }
    /* Unique Section Healthy Diet */
    .healthy-diet-container{
        flex-direction: column;
        width: 353px;
        height: 500px;
        justify-items: center;
        align-items: center;
    }
    .healthy-diet-content{
        width: 275px;
        height: 50px;
        margin-left: 60px;
        margin-bottom: 350px;
    }
    .healthy-diet-content h4{
        font-size: 25px;
    }
    .healthy-diet-images{
        margin-top: 30px;
        margin-left: -5px;
    }
    .healthy-diet-images img{
        width: 120px;
        height: 100px;
        justify-items: center;
        align-items: center;
    }
    .here{
        display: none;
    }
}